.cv-container {
  width: 56em;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  font-family: Arial, sans-serif;
  border-radius: 2%;
  background-color: #f3f3f3;
}

header{
  display: flex;
  flex-direction: row;
  padding: 1em 2em 1em;
}

.first_info{
  line-height: 1em;
}

.name{
  font-size: 2.4em;
  text-align: left;
  font-weight: bold;
  color: #6666FF;
}

.who{
  color: #9393ff;
  font-size: 2em;
}

.social{
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  padding-top: 2em;
  padding-right: 3em;
}

.soc-href-place{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.soc-href{
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.soc-href:hover{
  text-decoration: underline;
  color:#6666FF;
}

.soc-img{
  width: 1.4em;
  height: 1.4em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.about{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.profile-pic{
  height: 12em;
  width: 12em;
  border-radius: 4rem;
}

.about-me{
  font-size: 1.2em;
}

.name-part{
  font-size: 1.8em;
  text-align: left;
  font-weight: bold;
  color: #6666FF;
}

.skils-full{
  line-height: 3em;
}

.bloc-row{
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 0.2em;
}

.skil-ul{
  font-size: 1.2em;
  padding-left: 2em;
  margin-top: 0.2em;
}

.skils{    
  box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
  padding: 0 0.7em 0.7em 0.7em;
  border: 0.3em solid #6666ff9b; 
  border-radius: 7%;
  width: 15em;
  display: flex;
  flex-direction: column;
  flex: 1 1 25%; 
  max-width: 34%; 
  height: auto;
}

.point-skils{
  font-size:1.6em;
  font-weight: bold;
  margin: 0.8em 0 0 0.1em;
  color: #6666ff;
}

.skil{
  font-size: 1.2em;
}

.lang{
  line-height: 1.7em;
  font-size: 1.1em;
}

.education-full{
  line-height: 1em;
}

.education{
  padding-left: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.education1{
  padding-left: 2.2em;
  line-height: 1.4em;
  font-size: 1.1em;
  color: #434343;
}

.work1{
  font-size: 1.1em;
}

.work{
  padding-left: 0em;
  line-height: 1.7em;
  font-size: 1.1em;
  padding-bottom: 0.5em;
}

.print-but{
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
}

.print{
  width: 6em;
  padding: 0.6em;
  background:#6666ffb9; 
  color:#ffffff;
  font-size: 1.2em;
  border-radius: 15%;
  border: 0em;
}

.print:hover{
  background:#6666ff; 
  color:#ffffff;
}

.projects{
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  padding: 1em;
}

.first{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.blocks{
  border: 0.2em solid #6666ffb9; 
  border-radius: 2%;
  width: 55em;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gif{
  width: 20em;
  height: 14em;
  border-radius: 2%;
  padding: 1em;
}

.ins-bloc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-bloc{
  font-size: 2em;
  font-weight: bold;
  color: #6666FF;
}

.discr{
  font-size: 1.3em;
  padding: 0 1em;
  margin-top: 0;
}

.link-row{
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding-bottom: 0.6em;
}

.name-link{
  font-size: 1.5em;
  font-weight: bold;
  color: #6666FF;
  text-decoration: underline;
}

.name-link:hover{
  color: #282891;
}

.for-row{
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}

.first-col{
  display: flex;
  flex-direction: row;
  gap: 4em;
  padding: 1.3em;
}

.end-soc{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

@media screen and (max-width: 58em) {
  .cv-container{
      width: 90%;
    }
  
    header{
      display: flex;
      flex-direction: column;
      padding: 1em 2em;
    }
  
    .name{
      margin: 0;
    }
  
    .who{
      margin-top: 0.5em;
      margin-bottom: 0;
    }
  
    .profile-pic{
      height: 8em;
      width: 8em;
      border-radius: 4cqi;
    }
  
    .about-me{
      font-size: 1em;
      text-wrap: wrap;
      width: 90%;
      word-wrap: break-word;
      padding: 1em;
      margin: 0;
    }
  
    .bloc-row{
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 0.2em;
    }

    .skil-ul{
      font-size: 1em;
      padding-left: 2em;
      margin-top: 0.2em;
    }

    .point-skils{
      font-size:1.5em;
      margin: 0.4em 0 0 0.1em;
    }
    
    .skils{    
      word-wrap: break-word; 
      padding: 0 0.6em 0.6em 0.6em;
      border-radius: 7%;
      flex: 1 1 25%; 
      max-width: 44%; 
      height: auto;
      flex-wrap: wrap;
    }
  
    .education1{
      width: 90%;
      word-wrap: break-word;
    }
    
    .print-but{
      justify-content: flex-start;
    }
  
    .projects{
      flex-direction: column;
    }
  
    .name-bloc{
      margin: 0.5em;
      font-size: 1.7em;
    }

    .discr {
      font-size: 1.2em;
    }

    .blocks{
      border: 0.2em solid #6666ffb9; 
      border-radius: 2%;
      width: 70%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 1em;
      position: relative;
    }
  
    .gif{
      width: 95%;
      height: 14em;
      border-radius: 2%;
      padding: 1em;
      padding-bottom: 0em;
      flex-wrap: wrap;
    }

    .name-link {
      font-size: 1.4em;
    }

    .link-row{
      padding-left: 1em;
      padding-right: 1em;
    }
    
    .end-soc{
      flex-direction: column;
      gap: 0em;
    }
  
    .first-col{
      flex-direction: column;
      gap: 1em;
      padding: 0.6em;
    }
  }
